/* 
* Global Styles 
*/
html, body{
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.25rem;
}

.w3-content{
  max-width: 1200px;
}

.content-img{
  width: 100%;
  max-width: 100%;
  height: auto;
}


/*
*   Primary Header 
*/
.primary-header {
  background: #f4f4f4;
}

.header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  justify-self: flex-start;
  padding: 1em 0;
}

.logo img {
  max-width: 60px;
}


/* Primary Nav*/  
.primary-nav {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  gap: 1em;
}

.primary-nav>a {
  padding: 1em 2em;
  color: #000000;
  background: #fdfdfd;
}

.primary-nav a:hover {
  color: #0019fa;
}




/*
*  Main Content Area
*/

.primary-content {
  padding-top: 80px; /* Platz für den Header */
}

.section-overlay {
  color: white;
}

.content-section {
  position: relative;
  padding: 3em 0;
  scroll-margin-top: 80px; /* Platz für den Header */
}



/*
*  Hero Area + Content Sections
*/
#hero{
  background: url(../img/pexels-house.jpg) no-repeat center center;
  background-size: cover;
}
#teasers{
  position: relative;
}

.teaserbox{
  background-color: white;
  padding: 1em;
}
#about{
  background-color:darkcyan;
}

#property{
  background-color:beige
}

#planning{
  background-color:cadetblue; 
}

#construction{
  background-color:coral;
}






/*
* Custom Breakpoints
*/
/* Header specific breakpoints */
@media screen and (max-width: 840px) {
  .nav-closed {
      display: none;
  }

  .primary-nav {
      padding-bottom: 1em;
  }
}

@media screen and (min-width: 841px) {
  .primary-content {
      padding-top: 100px; /* Platz für den Header */
  }

  .content-section{
      scroll-margin-top: 100px; /* Platz für den Header */
  }

  .header-inner{
      align-items: center;
  }

  .logo img{
      width: 100%;
      max-width: 100px;
  }

  .primary-nav {
      flex-direction: row;
      flex: 0 1 auto;
      gap: 1em;
  }
}