/* Global Styles */
body {
  font-family: Segoe UI, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #8f8f8f;
}

/* Header mit Logo */
.header{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  background: #8f8f8f;
  padding: 10px 10px;
}

/* div logo */
.logo{
  width: 100%;
  max-width: 240px;
  aspect-ratio: 2/1;
  background: #8f8f8f;
}

/* div nav */
.nav{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.nav > a{
  padding: 1em 2em;
  color: #ffffff; 
  background: #8f8f8f;
 }

 .nav a:hover {
  color: #0019fa;
}

/* Breakpoint (classic ab iPad portrait Ansicht aufwärts) */
@media screen and (min-width: 768px){
  .header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav{
    flex-direction: row;
    gap: 1em;
  }
}